@model IEnumerable<RestaurantReviewMVC.Models.Reviewer>

@{
    ViewBag.Title = "Reviewers";
}

<h2>Reviewers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Join Date
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JoinDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReviewerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReviewerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReviewerID })
        </td>
    </tr>
}

</table>
